.formacao {
    align-items: center;
    background-color: var(--bg-escuro);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 5.5rem;
    /* min-height: 581px; */
    padding: 5.125rem;
    width: 100%;
}